extends layout

block content
	div.container-fluid(ng-controller='feCtrl')#main_content

		#user_panel
			h2.form-signin-heading.text-center Hi :)

			form(ng-submit="addPlayer(name)")
				div.form-group
					input.form-control(ng-model="name", placeholder="Type your name")#name
					br
					button.btn.btn-primary.btn-block(type="submit") Let's do this


		#game_panel
			h1.text-center Pass it on :)
			form(ng-submit="sendPotato(user_selected)")#potato_panel
				select.btn-block(ng-model="user_selected")
					option(value="") -- choose a player
					option(ng-repeat='row in users', ng-if="row.$id != user.id", value="{{row.$id}}") {{row.name}}
				button.btn.btn-default.btn-block(type="submit") Send
			h3.text-center Oh man, you lost :(


		#waiting_panel
			h1 Keep an eye open
			h3.text-center {{name|uppercase}}

		div.form-group#msg
			span.text-danger {{msg}}
		div.form-group#loading


				
